.classpath
.project
/.settings/
/bin/
/logs/
/target/
.gitattributes
.pydevproject
**/desktop.ini
/**/node_modules
/**/dist
/**/.DS_Store
/**/target
/**/build/
/**/.git/
/**/.idea
/**/.factorypath
/**/.settings
/**/.env
/**/.npmrc
