@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-layout-column.small {
    flex: 0.15 !important;
  }

  nb-sidebar.settings-sidebar {
    $sidebar-width: 7.5rem;

    transition: width 0.3s ease;
    width: $sidebar-width;
    overflow: hidden;

    &.collapsed {
      width: 0;

      /deep/ .main-container {
        width: 0;

        .scrollable {
          width: $sidebar-width;
          padding: 1.25rem;
        }
      }
    }

    /deep/ .main-container {
      width: $sidebar-width;
      background: nb-theme(color-bg);
      transition: width 0.3s ease;
      overflow: hidden;

      .scrollable {
        width: $sidebar-width;
      }
    }
  }

  nb-sidebar.menu-sidebar {
    margin-top: 0;

    /deep/ .main-container {
      height: calc (
        #{ nb-theme(sidebar-height)} - #{ nb-theme(header-height)} - #{ nb-theme (
            sidebar-header-gap
          )}
      ) !important;
    }

    /deep/ .scrollable {
      padding-top: 0;
    }
  }
}
